// стили лого

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 50px;
  margin-left: 15px;
  &-one {
    color: $background-color;
  }
  &-two {
    color: $text-color;
  }
  &-footer {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    line-height: 1.18;
    font-weight: 700;
    display: inline-block;
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
}
